body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}

.rounded {
    border-radius: 50%;
}

.navbar {
    background: url('../img/pastel_background-01.png') no-repeat;
    background-size: 100% 100%;
    padding: 1%;
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px #714ce0;
}

.subheading {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    margin-top: -2%;
}

.footer {
    bottom: 0;
    margin-top: 4%;
    text-align: center;
    color: #714ce0;
    font-weight: 500;
}

.itemDiv {
    width: 400px;
    text-align: center;
}

.maincontainer {
    margin-top: 2%;
    height: 60vh;
    background-color: #fff;
    border-radius: 5px
}

.projectImg {
    max-width: 100%;
    height: auto;
}

.skill {
    list-style-type: none;
    padding: 0;
    margin: 0;
}