body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}

.rounded {
    border-radius: 50%;
    margin: auto;
    display: block;
}

h1 {
    color: #714ce0;
}

h3 {
    color: #4e2e8f;
}

.navbar {
    background: url('../img/pastel_background-01.png') no-repeat;
    background-size: 100% 100%;
    padding: 1%;
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px #714ce0;
}

.subheading {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    margin-top: -2%;
}

.footer {
    text-align: center;
    color: #714ce0;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 1%;
    bottom: 0;
}

.itemDiv {
    width: 400px;
    text-align: center;
}

.projectImg {
    max-width: 100%;
    height: auto;
}

.skill {
    list-style-type: none;
    padding: 0;
    margin: 0;
}